<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.shawn.challenge.parkinglotapi.v1.park.mapper.ParkMapper">
    <insert id="insertParkInfo">
        insert into parking_lot
        (PARKING_NAME,
         ADDR,
         PARKING_CODE,
         PARKING_TYPE,
         PARKING_TYPE_NM,
         OPERATION_RULE,
         OPERATION_RULE_NM,
         TEL,
         QUE_STATUS,
         QUE_STATUS_NM,
         CAPACITY,
         CUR_PARKING,
         CUR_PARKING_TIME,
         PAY_YN,
         PAY_NM,
         NIGHT_FREE_OPEN,
         NIGHT_FREE_OPEN_NM,
         WEEKDAY_BEGIN_TIME,
         WEEKDAY_END_TIME,
         WEEKEND_BEGIN_TIME,
         WEEKEND_END_TIME,
         HOLIDAY_BEGIN_TIME,
         HOLIDAY_END_TIME,
         SYNC_TIME,
         SATURDAY_PAY_YN,
         SATURDAY_PAY_NM,
         HOLIDAY_PAY_YN,
         HOLIDAY_PAY_NM,
         FULLTIME_MONTHLY,
         GRP_PARKNM,
         RATES,
         TIME_RATE,
         ADD_RATES,
         ADD_TIME_RATE,
         BUS_RATES,
         BUS_TIME_RATE,
         BUS_ADD_TIME_RATE,
         BUS_ADD_RATES,
         DAY_MAXIMUM,
         LAT,
         LNG,
         ASSIGN_CODE,
         ASSIGN_CODE_NM)
        values
        (#{parkingName},
         #{addr},
         #{parkingCode},
         #{parkingType},
         #{parkingTypeNm},
         #{operationRule},
         #{operationRuleNm},
         #{tel},
         #{queStatus},
         #{queStatusNm},
         #{capacity},
         #{curParking},
         #{curParkingTime},
         #{payYn},
         #{payNm},
         #{nightFreeOpen},
         #{nightFreeOpenNm},
         #{weekdayBeginTime},
         #{weekdayEndTime},
         #{weekendBeginTime},
         #{weekendEndTime},
         #{holidayBeginTime},
         #{holidayEndTime},
         #{syncTime},
         #{saturdayPayYn},
         #{saturdayPayNm},
         #{holidayPayYn},
         #{holidayPayNm},
         #{fulltimeMonthly},
         #{grpParknm},
         #{rates},
         #{timeRate},
         #{addRates},
         #{addTimeRate},
         #{busRates},
         #{busTimeRate},
         #{busAddTimeRate},
         #{busAddRates},
         #{dayMaximum},
         #{lat},
         #{lng},
         #{assignCode},
         #{assignCodeNm})
    </insert>
    <select id="getParkInfo" resultType="park">
        select * from parking_lot
        where ADDR like concat('%', #{addr}, '%')
    </select>
</mapper>